a.button {
  color: white;
  text-decoration: none !important;
  font-weight: bold;
}

div.buttons > div {
  display: inline-block;
  margin: 0.75vh 0.75vw;
}

.button {
  background-color: rgba(40, 60, 206, 0.898);
  font-size: medium;
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 1rem;
}