.panel-block {
  display: block;
  padding: 0.75em;
  border: 1px solid;
}

a.panel-block {
  text-decoration: none !important;
}

a:hover.panel-block {
  background-color: antiquewhite;
}

a.panel-block {
  color: black;
}

a.button {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: blue;
  color: white;
  text-align: center;
  border-radius: 25em;
}


div.buttons > span {
  padding-left: 0.1em;
  padding-right: 0.1em;
}


.app-logo {
  color: black;
  text-decoration: none !important;
  border: solid black 1px;
  /*border-radius: 25px;*/
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}




.notification-panel {
  position: fixed;
  margin-top: 1em;
  left: 65%;
  right: 1%;
  z-index: 2;
}

.notification {
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
  list-style: none;
  padding-left: 1.25em;
  padding-right: 1.25em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  border: solid black 1px;
  border-radius: 25px;
  color: white;
}

.fade-out {
  -webkit-animation: fadeout 1s;
  animation: fadeout 1s;
}




/* You can add global styles to this file, and also import other style files */
.center {
  text-align: center;
}

.padded-quarter {
  padding: 0.25em;
}

.padded-1 {
  padding: 1em;
}

.padded-2 {
  padding: 2em;
}

.vertical-padded-half {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.horizontal-padded-three-quarters {
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.margin-quarter {
  margin: 0.25em;
}

.margin-1 {
  margin: 1em;
}

.margin-2 {
  margin: 2em;
}

.top-padded-quarter {
  padding-top: 0.25em;
}

.top-padded-half {
  padding-top: 0.5em;
}

.top-padded-1 {
  padding-top: 1em;
}

.top-padded-one-and-a-half {
  padding-top: 1.5em;
}

.top-margin-1 {
  margin-top: 1em;
}

.bottom-padded-1 {
  padding-bottom: 1em;
}

.bottom-padded-2 {
  padding-bottom: 2em;
}

.side-padded-2 {
  padding-left: 2em;
  padding-right: 2em;
}

.bottom-margin-1 {
  margin-bottom: 1em;
}

.bottom-padded-half {
  padding-bottom: 0.5em;
}

.bottom-margin-half {
  margin-bottom: 0.5em;
}

.left-padded-1 {
  padding-left: 1em !important;
}

.left-padded-1_5 {
  padding-left: 1.5em !important;
}

.left-padded-2 {
  padding-left: 2em !important;
}

.bottom-padded-1 {
  padding-bottom: 1em;
}

.bottom-padded-2 {
  padding-bottom: 2em;
}

.right-padded-1 {
  padding-right: 1em;
}

.right-padded-2 {
  padding-right: 2em;
}

.not-top-padded-1 {
  padding: 1em;
  padding-top: 0em;
}

.not-top-padded-2 {
  padding: 2em;
  padding-top: 0em;
}

.negative-margin-top {
  margin-top: -0.5em;
}

.negative-margin-top-1 {
  margin-top: -1em;
}

.negative-margin-top-2 {
  margin-top: -2em;
}

.negative-margin-top-3 {
  margin-top: -3em;
}

.negative-margin-top {
  margin-top: -0.5em;
}

.negative-margin-bottom-1 {
  margin-bottom: -1em;
}

.negative-margin-bottom-2 {
  margin-bottom: -2em;
}

.negative-margin-bottom-3 {
  margin-bottom: -3em;
}

.is-wide {
  min-width: 100%;
  display: inline-block;
}

.is-full-width {
  width: 100%;
}

.is-tall {
  min-height: 100%;
  display: inline-block;
}
